html {
  font-size: 140px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
body {
    background-repeat: no-repeat;
    background-image: url('../imagens/14473.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #F8F9FA;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
}

